.container{
    display: grid;
    height: 100vh;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr  ;
    grid-template-rows: 1fr ;
    grid-area:
    "sidebar1 main sidebar2"
    "sidebar3 Politics Politics"
    "sidebar3 Technology Technology"
    "sidebar3 Locals Locals"
    "sidebar3 Opinions Opinions"
    "sidebar3 Sports Sports" 

    ;
    grid-gap: 5px;
    border: 2px solid;

}
.h1{
    text-align: center;
}
#sidebar1{
    grid-area:Students Learn HTML;
    border: 2px solid;

}
.main{
    grid-area:main;
    border: 2px solid;

}
#sidebar2{
    grid-area:CSS is Apparently a Thing;
    border: 2px solid;

}
#sidebar3{
    grid-area:Boy Like Turtle;
    border: 2px solid;

} 
#Politics{
    grid-area:Politics;
    background-color: darkblue;

}
#Technology{
    grid-area: Technology;
    background-color: chocolate;

}
#Locals{
    grid-area: Locals;
    background-color: beige;

}
#opinion{
    grid-area: opinion;
    background-color: rgb(18, 14, 255);

}
#Sport{
    grid-area: Sport;
    background-color: brown;

}
